Flask>=3.0,<4.0
flask-cors>=4.0,<7.0
joblib==1.5.3
numpy==2.0.2
pandas==2.3.3
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.2
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.2
